.mobile-btn {
    width: 40px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    padding-block: 0;
    padding-inline: 0;
    border: 0;
    /* outline: 0; */
}

.mobile-btn__line {
    display: inline-block;
    background-color: #ffffff;
    width: 40px;
    height: 3px;
    position: absolute;
    left: 0;
    transition: 0.19s ease-out;
}

.mobile-btn--active .mobile-btn__line:nth-child(1) {
    transform: rotate(-45deg);
    top: 50%;
    /* transform: ; */
}

.mobile-btn__line:nth-child(1) {
    top: 0;
}

.mobile-btn--active .mobile-btn__line:nth-child(2) {
    opacity: 0;
}


.mobile-btn__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    /* top: 0; */
}

.mobile-btn--active .mobile-btn__line:nth-child(3) {
    top: 50%;
    transform: rotate(45deg);
}
.mobile-btn__line:nth-child(3) {
    bottom: 0;
}